@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

		* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; } 

		video {
			border: 2px solid white;
			border-radius: 10px;
            box-shadow: 0 0 50px #9CB4CC;
			display: block;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			}

		#btnna , #btnnp , #btnnma , #btnns, #btnnpr, #btnnh, #back {
			border-radius: 20px;
			border: 2px solid #C3E4ED;
		    box-shadow: 0 0 10px white,
		              0 0 40px #79CDCD,
		              0 0 80px #C3E4ED;
			font-family: 'Kodchasan', sans-serif;
			font-size: 22px;
			font-weight: bolder;
			background-color: #C3E4ED;
			letter-spacing: 6px;
            color:  black !important;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            transition: 2s;
            animation-name: flick; 
        	margin-bottom: 50px;
        	margin-top: 50px;}

		body {
			color: white !important;
			background-image: url('bg.gif');
			background-attachment: fixed;
			background-size: cover;		}
		
		#firstimg {
			border: 2px solid #9CB4CC;
			color: #111;
            box-shadow: 0 0 20px #9CB4CC;
			width: 30vh;
			height: auto;
		}
		#mail {
			color: white;
		}
		#headi {
			color: white;
			font-family: consolas;
			letter-spacing: 10px; }
		#codei {
			color: white;
			letter-spacing: 8px;
			font-size: 20px;
		}
		h3,h4,.font1{
			font-family: 'Dekko', cursive;	}
		.img1 {
			justify-content: center;
			align-items: center;
			display: flex;
		}
		
		.jumbotron {
			width: 100%;
			height: auto;
			background-repeat: no-repeat;
			background-image: url('bg.gif');
			background-size: cover; }

		.text-responsive {
 			 font-size: calc(100% + 1vw + 1vh); }



		.skill img {
			border-radius: 50%;
            box-shadow: 0 0 50px #9CB4CC;
			border: 2px solid white;
		}
		.skill {
			margin-bottom: 30px;
		}
		#bdr {
			border-radius: 10px;
            box-shadow: 0 0 50px #9CB4CC;
            margin-top: 10px;
            margin-bottom: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


		#bdr1 {
			border: 2px solid #9CB4CC;
			border-radius: 30px;
            box-shadow: 0 0 50px #9CB4CC;
            margin-top: 10px;
            margin-bottom: 10px;
			display: block;
			padding: 10px;
		}

		.heads {
			font-size: 20px;
			letter-spacing: 5px;
			font-family: consolas;
		}
		b {
			font-size: 10px;
			text-align: center;
		}

		#firstimg {
			border: 2px solid #9CB4CC;
			color: #111;
            box-shadow: 0 0 20px #9CB4CC;
		}
		#mail {
			color: white;
		}
		#headi {
			color: white;
			font-family: consolas;
			letter-spacing: 10px; }
		#codei {
			color: white;
			letter-spacing: 8px;
			font-size: 20px;
		}
		h3,h4,.font1{
			font-family: 'Dekko', cursive;	}
		.img1 {
			justify-content: center;
			align-items: center;
			display: flex;
		}
		.progress-bar {
			color: blue;
		}


 		.accom img {
 			margin-left: 10px;
 			margin-right: 10px;
 		}

 		.accom {
 			width: 100%;
 			border-radius: 30px;
 			background-color: rgba(0,0,0,0.4);
 			margin-top: 20px;
 			margin-bottom: 20px;
			border: 2px solid white;
			border-radius: 10px;
            box-shadow: 0 0 50px #9CB4CC;
		}

		.cont1 {
            box-shadow: 0 0 50px #9CB4CC;
			background-color: rgba(0,0,0,0.4);
			border-radius: 30px;
		}

