body {
    background-color: #2b2a33;
    color:  white;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #42414d;
}

header img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

header h2 {
    font-size: 4rem;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.book {
    width: 20%;
    text-align: center;
    background-color: #42414d;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.book img {
    width: 95%;
    border-radius: 0.5rem;
}

.book h3 {
    margin: 0;
    font-size: 2vw;
}

@media (max-width:  1000px) {
    .book {
        width: 80%;    
    }
    .book h3 {
        font-size: 5vw;
    }
}
