body {
    background-color: #2b2a33;
    color:  white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42414d;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 90%;
}

header img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 2px solid white;
}

header h2 {
    font-size: 5vw;
    margin: 0;
    margin-left: 0.9rem;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.book {
    width: 20%;
    text-align: center;
    background-color: #42414d;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-right: 3px solid lightgreen;
    border-bottom: 3px solid lightgreen;
}

.book:hover {
    cursor: pointer;
}

.book img {
    width: 95%;
    border-radius: 0.5rem;
}

.book h3 {
    margin: 0;
    font-size: 1.4vw;
}

#tags {
    color: black;
    background-color: #42414d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.31rem;
    border-radius: 0.2rem;
    border-radius: 1rem;
    width: 88vw;
}

#tags h2 {
    background-color: lightgreen;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 1vw;
}

#tags g2:hover {
    cursor: pointer;
}


#tags h2:active {
    color: white;
    background-color: green;
}

@media (max-width:  1000px) {
    header img {
        width: 17%;
    }

    header h2{
        font-size: calc(1rem + 4vw);
    }

    .book {
        width: 95%;
        margin: 0.6rem;
    }
    
    .book h3 {
        font-size: 5vw;
    }

    #tags h2 {
        font-size: calc(0.5rem + 1.5vw);
    }
}

